{include file="/common/head"}
  <body>
    <div id="wrap">

      {include file="/common/top"}

    <div class="container-fluid">
     
      <!-- Side menu -->
      {include file="/common/nav"}
      <!-- /Side menu -->

      <!-- Main window -->
      <div class="main_container" id="dashboard_page">
        <h2 class="heading">
          欢迎！
          <div class="btn-group pull-right">
            <!--<button class="btn"><i class="icon-edit"></i> New Ablum</button>-->
            <!--<button class="btn"><i class="icon-remove"></i> Delete Album</button>-->
          </div>
        </h2>
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class=""></i>
              <h5>介绍</h5>

            </div>
            <div class="widget-body">
              <div id="gallery-container" class="masonry" style="position: relative; height: 1158px; overflow: hidden;">
                欢迎！{$user.user_name}
              </div>
            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div>
        {include file="/common/foot"}
      </div>
      <!-- /Main window -->
      
    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->

  </body>
