{include file="/common/head"}
<body>
<div class="topbox">
    <!--顶部-->
    {include file="/common/top"}
    <!---->
    <!--头部-->
    {include file="/common/header"}
    <!---->
    <!--导航栏-->
    {include file="/common/nav"}
    <!---->
</div>
<div class="content">
    <div class="list_tc">
        <div class="tc_detail fl">
            <div class="tc_body_all fl">
                <div class="tc_body_left fl">
                <div class="tc_info_body clearify fl">
                    <div class="tc_info_pic fl">
                        <em>
                            <img src="..{$package.picture}" />
                        </em>
                    </div>
                    <div class="tc_info fr">
                        <h1 title="{$package.title}">
                            <b>【{$package.orga_name}】</b>{$package.name}
                        </h1>
                        <p>{$package.description}</p>
                        <div class="pricebox_wrap">
                           <div class="pricebox clearfix">
                               <div class="priceleft">
                                   <div class="doub">
                                       <div class="pricetext">
                                           <span>￥</span>
                                           {$package.price}
                                       </div>
                                   </div>
                               </div>
                               <div class="priceright">
                                   <div class="pricetips">
                                       <div class="hospitalprice">
                                           <span class="sp ft14">￥{$package.old_price}</span>
                                           <span>原价</span>
                                       </div>
                                       <div class="salesnum">
                                           <span class="ft14">{$package.sale_num}</span>
                                           <span>累计销量</span>
                                       </div>
                                   </div>
                               </div>
                               <div class="line01"></div>
                               <div class="tc_info_box01 clearfix">
                                   <div class="tc_info_btn clearfix">
                                       <form action="/examination/public/order" method="post" id="order_form">
                                       <div class="tc_info_quantity">
                                           <span>数量：</span>
                                           <em>
                                               <input type="number" id="quantity" name="quantity" maxlength="3" min="1" value="1" />
                                           </em>

                                       </div>
                                       <input type="hidden" name="package_id" value="{$package.id}" id="package_id"/>
                                       </form>
                                       <a href="javascript:void(0)" onclick="return checkBig();" rel="nofollow">立即预订</a>
                                       <script type="text/javascript" src="../public/static/js/package.js"></script>
                                   </div>

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="tc_body fl">
                    <div class="tc_body_nav_out">
                        <div class="tc_body_nav_bg" id="tc_nav">
                            <div class="tc_body_nav_auto clearfix">
                                <div class="tc_nav fl">
                                    <span>套餐详情</span>
                                    <em></em>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="sub">
                        <div class="mao" id="sub01"></div>
                        <div class="tip03">
                        </div>
                        <div class="tc_box">
                            <div class="tc_title" id="tcxq">
                                <h2 class="center">青年女性基础体检（含妇科）</h2>
                                <p>因为体检中心体检项目内容会不定期做调整，具体套餐信息以体检中心实际检查项目为准！</p>
                            </div>
                            <table class="tc_table" cellpadding="0" cellspacing="0" border="0">
                                {volist name="package.project" id="cates"}
                                <tbody>
                                <tr>
                                    <th width="215" colspan="2" scope="col">
                                        项目名称
                                    </th><th scope="col">
                                    体检指标
                                </th>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: left; padding-left: 15px; font-size: 16px; color: #019eeb; background-color: #f3f3f3;">{$cates.cate_name}({$cates.size}项）</td>
                                </tr>
                                    {volist name="cates.list" id="project"}

                                    <tr>
                                        <td width="215" colspan="2" scope="col">
                                            {$project.pro_name}
                                        </td>
                                        <td scope="col">
                                            {$project.target}
                                        </td>
                                    </tr>
                                    {/volist}
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="process fl clearfix">-->
                    <!--<div class="head"></div>-->
                    <!--</div>-->
                </div>
            </div>
                <div class="tc_body_right fr">
                    <div class="tc_detail_right_all fr">
                        <div class="tc_detail_right fr">
                            <div class="tc_detail_right_body fr">
                                <i>
                                    <a href="#" target="_blank">
                                        <img width="220" height="165" src="..{$package.orga_picture}" alt="{$package.orga_name}" title="{$package.orga_name}">
                                    </a>
                                </i>
                                <dl>
                                    <a href="#" target="_blank">
                                        <dt>{$package.orga_name}</dt>
                                    </a>
                                    <dd>机构等级：{$package.level}</dd>
                                    <dd>地　　址：{$package.address}</dd>
                                    <dd>体检时间：{$package.avaliable_time}</dd>
                                </dl>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="/common/foot"}
</body>
