{include file="/common/head"}
<body>
<div class="topbox">
    <!--顶部-->
    {include file="/common/top"}
    <!---->
    <!--头部-->
    {include file="/common/header"}
    <!---->
    <!--导航栏-->
    {include file="/common/nav"}
    <!---->
</div>
<div class="content">
    <div class="jg_detail">
        <div class="section01 clearfix">
            <div class="jg_info_all fl">
                <div class="jg_info_pic fl">
                    <div class="box">
                        <img style="opacity: 1; filter: alpha(opacity=100);" src="..{$hospital.picture}" width="366" height="276">
                    </div>
                </div>
                <div class="jg_info fl">
                    <div class="jg_info_title fl">
                        <h2 title="{$hospital.name}">{$hospital.name}</h2>
                    </div>
                    <div class="jg_info_bg_box clearfix">
                        <ul class="jg_info_bg fl">
                            <li><em>机构等级：{$hospital.level}</em></li>
                            <li class="li02"><span>医院地址：</span><b title="{$hospital.address}">{$hospital.address}</b>
                            </li>
                            <li><span>体检时间：</span><b>{$hospital.avaliable_time}</b></li>
                        </ul>
                    </div>
                    <p class="p01">机构简介：</p>
                    <p>爱康国宾杭州文晖体检分院（杭州爱康国宾文晖医疗门诊部有限公司）是爱康国宾健康体检管理集团在杭州建 康康体检网，个性化体检定制与预约一站式服务平台。深圳市迈康信息技术有限公司</p>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="/common/foot"}
</body>