{include file="/common/head"}
<body>
<div class="topbox">
    <!--顶部-->
    {include file="/common/top"}
    <!---->
    <!--头部-->
    {include file="/common/header"}
    <!---->
    <!--导航栏-->
    {include file="/common/nav"}
    <!---->
    <link href="../public/static/css/order.css" rel="stylesheet" />
    <link href="../public/static/css/shopping.css" rel="stylesheet" />
</div>
<div class="content">
    <div class="shopping">
        {include file="/common/shopping_nav"}
        <form action="/examination/public/addOrder" method="post" id="order_form">
        <div class="information">
            <h1>填写并核对订单信息</h1>
            <div class="personalinfo">
                <h1>订单人信息</h1>
                <div class="personalname">
                    <span>
                        <i>*&nbsp;</i>姓名：
                    </span>
                    <input type="text" name="personalName" maxlength="15" id="personalName" required/>
                    <b>请填写联系人姓名</b>
                </div>
                <div class="personaltel">
                    <span>
                        <i>*&nbsp;</i>手机号码：
                    </span>
                    <input type="text" name="personalTel" size="11" id="personalTel" required/>
                    <b>请填写手机号码</b>
                </div>
            </div>
            <div class="payway">
                <h1>支付方式</h1>
                <input type="hidden" id="payType" name="payType" value="1"/>
                <p class="outlinepay clearfix">
                    <a href="javascript:;" class="active">到场支付
                    </a>
                </p>
            </div>
            <input name="num" type="hidden" id="num"/>
            <input name="price" type="hidden" id="price"/>
            <input name="package_id" type="hidden" id="package_id"/>
            <div class="subshopinfo">
                <h1>套餐信息</h1>
                <div class="shopgroup">
                    <h2 class="grouphead">
                        <p>{$package.orga_name}</p>
                        <span>单价</span>
                        <span>数量</span>
                        <span>小计</span>
                        <span class="last">支付方式</span>
                    </h2>
                    <ul class="clearfix">
                        <li class="shopimg">
                            <img width="160" height="120" src="..{$package.picture}" alt="未找到图片" class="scrollLoading">
                        </li>
                        <li class="textcontent">

                            <p style="margin-top:10px;color:#6e6e6f;font-size:14px" >{$package.orga_name}</p>
                            <p style="margin-top:10px;color:#6e6e6f;font-size:14px" data-package_id="{$package.id}" id="pack">{$package.name}</p>

                        </li>
                        <li class="price" ><del>{$package.old_price}</del><br>
                            <span>{$package.price}</span></li>
                        <li class="number" data-num="{$package.num}">{$package.num}</li>
                        <li class="count"><b>{$package.total_price}</b>
                        </li>
                        <li class="zhichiway">

                            <p>到场支付</p>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="realpay clearfix">
                <div class="subfixed clearfix">
                    <div class="submitbtn" id="order-submit-btn" onclick="submitOrder();">提交订单</div>
                    <div class="moneytext">
                        <span>实付金额：</span>
                        <b class="realmoney" data-price="{$package.total_price}">￥{$package.total_price}</b>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>
</div>
{include file="/common/foot"}
</body>
<script type="text/javascript" src="../public/static/js/common.js"></script>
<script type="text/javascript" src="../public/static/js/order.js"></script>
