<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../public/static/css/public_style.css" rel="stylesheet"/>
    <link href="../public/static/css/top_foot.css" rel="stylesheet" />
    <script type="text/javascript" src="../public/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../public/static/js/common.js"></script>
</head>
</html>