<ul class="shopping_nav">
    <!--<li>-->
    <!--<i>&nbsp;</i>-->
    <!--<p>-->
    <!--<font></font>-->
    <!--选择可加项-->
    <!--</p>-->
    <!--<em>&nbsp;</em>-->
    <!--</li>-->
    <li id="1">
        <i>&nbsp;</i>
        <p>
            <font>①</font>
            填写核对订单
        </p>
        <em>&nbsp;</em>
    </li>
    <li id="2">
        <i>&nbsp;</i>
        <p>
            <font>②</font>
            预约时间
        </p>
        <em>&nbsp;</em>
    </li>
    <li id="3" class="s_nav_last">
        <i>&nbsp;</i>
        <p>
            <font>③</font>
            提交订单成功
        </p>
    </li>

</ul>