<script type="text/javascript" src="../asset/js/jquery.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../asset/js/raphael-min.js"></script>
<script type="text/javascript" src="../asset/js/bootstrap.js"></script>
<script type="text/javascript" src='../asset/js/sparkline.js'></script>
<script type="text/javascript" src='../asset/js/morris.min.js'></script>
<script type="text/javascript" src="../asset/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery.facybox.js"></script>
<script type="text/javascript" src="../asset/js/jquery.alertify.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery.knob.js"></script>
<script type='text/javascript' src='../asset/js/fullcalendar.min.js'></script>
<script type="text/javascript" src="../asset/js/realm.js"></script>
<script type="text/javascript" src="../asset/js/jquery.slimscroll.min.js"></script>

<div class="foot">
    <div class="footer_tips">

    </div>
    <div class="footer">
        <p>
            康康体检网，个性化体检定制与预约一站式服务平台。深圳市迈康信息技术有限公司 400-1000-920
            <br>
            Copyright(C)2010-2015康康体检网版权所有  工信部备案号:粤ICP备11060749号-8
        </p>
    </div>
</div>