<div class="sidebar-nav nav-collapse collapse">

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle active b_F79999" href="/examination/public/admin/"><i class="icon-dashboard"></i> <span>Dashboard</span></a>
            </div>
        </div>
         <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F5C294" href="/examination/public/admin/userList"><i class="icon-user"></i> <span>用户管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/appointmentList"><i class="icon-tasks"></i> <span>预约管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/packageList"><i class="icon-list-ul"></i> <span>套餐管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/hospitalList"><i class="icon-list-ul"></i> <span>机构管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/projectList"><i class="icon-list-ul"></i> <span>项目管理</span></a>
            </div>
        </div>
    </div>
</div>