<div class="sidebar-nav nav-collapse collapse">

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle active b_F79999" href="index-2.html"><i class="icon-dashboard"></i> <span>Dashboard</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-magic"></i> <span>Features</span></a>
            </div>
            <div id="collapse1" class="accordion-body collapse">
                <div class="accordion-inner">
                    <a class="accordion-toggle" href="ui_features.html"><i class="icon-star"></i> UI Features</a>
                    <a class="accordion-toggle" href="forms.html"><i class="icon-list-alt"></i> Forms</a>
                    <a class="accordion-toggle" href="tables.html"><i class="icon-table"></i> Tables</a>
                    <a class="accordion-toggle" href="buttons.html"><i class="icon-circle"></i> Buttons</a>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>Components</span></a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
                <div class="accordion-inner">
                    <a class="accordion-toggle" href="notifications.html"><i class="icon-rss"></i> Notifications</a>
                    <a class="accordion-toggle" href="calendar.html"><i class="icon-calendar"></i> Calendar</a>
                    <a class="accordion-toggle" href="gallery.html"><i class="icon-picture"></i> Gallery</a>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="tasks.html"><i class="icon-tasks"></i> <span>Tasks</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_C1F8A9" href="analytics.html"><i class="icon-bar-chart"></i> <span>Analytics</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_9FDDF6" href="tickets.html"><i class="icon-bullhorn"></i> <span>Support Tickets</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F5C294" href="/examination/public/admin/userList"><i class="icon-user"></i> <span>用户管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/appointmentList"><i class="icon-tasks"></i> <span>预约管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/packageList"><i class="icon-list-ul"></i> <span>套餐管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/hospitalList"><i class="icon-list-ul"></i> <span>机构管理</span></a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle b_F6F1A2" href="/examination/public/admin/projectList"><i class="icon-list-ul"></i> <span>项目管理</span></a>
            </div>
        </div>
    </div>
</div>